<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%=title%></title>
        
        
        <script src="https://kit.fontawesome.com/1498c8fbef.js" crossorigin="anonymous"></script>
        
        <!-- Bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <!-- for noty -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- font awesome -->
        <script src="https://kit.fontawesome.com/1498c8fbef.js" crossorigin="anonymous"></script>
    </head>
</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/studentList">Placement Cell</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/companies">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allInterviews">All Interviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/downloadReport">Download Report</a>
          </li>
        </ul>
        <div class="d-flex" >
         <a href="/signOut"><button class="btn btn-secondary " type="button">Sign Out</button></a> 
        </div>
      </div>
    </div>
  </nav>
  <br/>
  <br/>
  <br/>

  <!-- table heading -->
  <div class=" overflow-hidden text-center">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 fs-1 fw-bold text-start">Student List</div>
      </div>
      <div class="col">
        <div class="p-3">
            <a href="/studentList/addStudentForm">
                <button class="btn btn-info btn-lg">
                    <i class="fa-solid fa-user-plus"></i>
                    Add Student
                </button>
            </a>
            
        </div>
      </div>
    </div>
  </div>

      
  <!-- student list -->
  <table class="table p-4 m-4">
    <thead>
      <tr>
        <th scope="col">Batch</th>
        <th scope="col">College</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">DSA</th>
        <th scope="col">FE</th>
        <th scope="col">Node</th>
        <th scope="col">React</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for (let student of students) { %> 
        <tr>
          <th><%= student.batch %></th>
          <td><%= student.college %></td>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <td><%= student.contact %></td>
          <td><%= student.score.dsa %></td>
          <td><%= student.score.fe %></td>
          <td><%= student.score.node %></td>
          <td><%= student.score.react %></td>
          <td>
            <select  class="status-select statusSelect"  name="statusSelect" data-student-id="<%= student._id %>">
              <option value="Placed" <% if (student.status === 'Placed') { %> selected <% } %>>Placed</option>
              <option value="Not Placed" <% if (student.status === 'Not Placed') { %> selected <% } %>>Not Placed</option>
            </select>
          </td>
          <td><a href="/studentList/deleteStudent/<%=student._id %>"><button class="btn btn-secondary btn-sm">Delete</button></a></td>

        </tr>
      <% } %>
      
    </tbody>
  </table>




  <script src="/assets/js/index.js"></script>

  <script>
        <% if (flash.success && flash.success.length > 0) { %>
          new Noty({
              theme: 'relax',
              text: '<%=flash.success%>',
              type: 'success',
              layout: 'topRight',
              timeout: 1500
          }).show();
      <%}%>

      <% if (flash.error && flash.error.length > 0) { %>
              new Noty({
                  theme: 'relax',
                  text: '<%=flash.error%>',
                  type: 'error',
                  layout: 'topRight',
                  timeout: 1500
              }).show();
      <%}%>
  </script>
</body>
</html>